.nav-pills {
    margin-bottom: 2px;
    font-size: 1.7em;
    background-color: black;
    opacity: 0.7;
}

.navbar-toggle {
    background-color: #ffffff;
}

body {
    background-color: black;
    font-family: Lobster;
    color: white;
}

.btn-default {
    background-color: #000000;
    border: black;
    color: #337ab7;
    font-size: 1.7em;
    opacity: 0.8;
}

.block {
    padding-top: 50px;
    width: 100%;
    margin: ;
    height: 100%;
    border-radius: 2%;
    margin-top: 20%;
}

.block h1 {
    color: #ffffff;
}

.block h3 {
    color: #ffffff;
}

.block_p3 {
    background-color: #000000;
    opacity: ;
    padding: 5%;
    width: 80%;
    margin: 0 auto;
    height: 50%;
    border-radius: 2%;
}

.pageOne {
    background: url("../images/page_one.jpg");
    background-size: cover;
    padding-bottom: 20%;
    height: 100%;
}

.pageTwo {
    background: url("../images/page_two.jpg");
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 5%;
}

.pageTwo p {
    color: #337ab7;
}


/* xs screens only */

@media(max-width:767px) {
    .p2>.img-responsive {
        padding-left: 15%;
        padding-bottom: 5%;
    }
}

.pageThree {
    background: url("../images/page_three.jpg");
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}


/*PANEL PORTFOLIO*/

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.panel-image {
    position: relative;
}

.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-body {
    font-family: Arial;
    font-size: 7px;
    overflow: hidden;
    font-weight: bold;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}


/*END OF PANEL PORTFOLIO*/

.img-responsive {
    width: 300px;
    height: auto;
    padding-bottom: 5%;
}

.thumbnail>a>p {
    font-size: 20px;
}

.paddingTop h1 {
    font-size: 50px;
}

.opis {
    color: black;
    font-family: Arial;
    font-size: 15px;
}

.pageFour {
    background: url("../images/page_four.jpg");
    background-size: cover;
    padding-top: 5%;
    height: 100%;
}

.pageFour h2 {
    color: #d9d9d9;
}

.pageFour>h1>a {
    color: #d9d9d9;
}

.gumbi {
    padding-bottom: 5%;
}

p {
    font-size: 2.2em;
    color: black;
    opacity: 0.7;
}

i {
    color: #d9d9d9;
}

.paddingTop {
    padding-top: 2%;
    padding-bottom: 2%;
}

.panel-footer p {
    color: #337ab7;
    font-size: 15px;
}

.panel-footer {
    background: black;
}

.izbornik a {
    color: #337ab7;
    font-size: 15px;
}

.paddingBtn {
    margin-bottom: 25px;
    width: 200px;
}

.block_p2 {
    background-color: black;
    opacity: .8;
    padding: 5%;
    width: 80%;
    margin: 0 auto;
    height: 50%;
    border-radius: 2%;
}
